.domain-container {
  width: 100%;
  height: 729px;
  padding: 20px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  top: 500px;
}

.info-tag {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.tag {
  width: 532px;
  height: 67px;
  opacity: 1;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: #1b3c74;
}

.specialization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

.Fields {
  width: 270px;
  height: 180px;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.fieldImg {
  width: 90px;
  height: 90px;
  padding-bottom: 20px;
}

.fieldName {
  width: 121px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #abb6c7;
}

.Fields:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fieldsSelection {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #2aa8ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.fieldsSelectiontton:hover {
  background: #2aa8ff;
}
